.apc/autopilot.apfmapping
.cproject
.project
.settings/language.settings.xml
.settings/primetest.Debug.launch
.settings/primetest.Release.launch
.vivado_hls_log_all.xml
*.bin
*.prm
*/.autopilot
*/csim
*/impl
*/sim
*.aps
*.log
*.json
*/syn
vivado_hls.app
*.directive
